
html,
body {
  min-width: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
}

body {
  font-family: 'Lato', sans-serif;
  color: #343A41;
}

@media only screen and (min-width: 1380px) {
  html {font-size: 16px;}
}

@media only screen and (max-width: 1280px) {
  html {font-size: 15px;}
}

@media only screen and (max-width: 1024px) {
  html {font-size: 14px;}
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

h4 {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
}

h5 {
  font-size: 1.1rem;
  margin: 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

p br{
  line-height: 2rem;
}

a {
  text-decoration: none !important;
}

a:hover{
  color: #E67E23;
}

/******STRUCTURE*/

.Wrapper{
  position: relative;
  min-height: 100%;
  background-color: #E9E9E9;
}

.Header{
  background-color: #343A41;
  width: 100%;
  padding: 0 80px 20px 80px;
  z-index: 3;
  border-bottom: 3px solid #24AFB2;
}

@media only screen and (max-width: 1024px) {
  .Header { padding: 0 25px 20px 25px;}
}

.Header-logo{
  margin: 30px 0 0 0;
  background-image: url('../images/dbLoF-white-logo.svg');
  width: 192px;
  height: 50px;
  display: inline-block;
}

.Search{
  margin-top: 30px;
  position: relative;
}

.Search--moreMargin{
  margin-bottom: 100px;
}

.Search-input{
  font-size: 1rem;
  color: #343A41;
  height: 40px;
  border-radius: 0;
  border: none;
}

.Search-input:focus{
  border: none;
  box-shadow: none;
}

.Search-button{
  background-color: #24AFB2;
  color: #ffffff !important;
  height: 40px;
  border: none;
  transition: background-color 0.3s ease;
  border-radius: 0;
}

.Search-button:hover,
.Search-button:focus,
.Search-button:active{
  border-radius: 0 !important;
  outline: none;
  background-color: #E67E23;
}

.Search-examples{
  position: absolute;
  top: 50px;
  left: 0;
  color: #ffffff;
  font-style: italic;
}

.Search-examples a{
  transition: color 0.5s ease;
}

.Dropdown{
  position: relative;
  border-radius: 0;
  border: 1px solid #E9E9E9 !important;
  color: #343A41 !important;
  text-align: left;
  font-size: 1rem;
  padding-left: 12px;
}

.Dropdown,
.Dropdown:focus,
.Dropdown:hover{
    background-color: #ffffff !important;
}

.Dropdown--search{
  border: none;
  border-left: 1px solid #E9E9E9 !important;
  min-width: 100px !important;
  height: 40px;
}

.Dropdown--search:focus{
  border: none;
  border-left: 1px solid #D2D4D8 !important;
}

.Dropdown--filter{
  height: 35px;
}

.Dropdown-menu{
  border-radius: 0;
  padding: 0 !important;
  min-width: 100px;
  top: inherit !important;
}

.Dropdown-menu li a{
  padding: 7px 15px;
}

.Dropdown-menu li a:hover{
  background-color: ##CEF4F3;
}

.Dropdown-menu:focus{
  border: none;
  border-left: 1px solid #D2D4D8 !important;
  background-color: #ffffff;
}

.Dropdown--filter,
.Dropdown-menu--filter{
  min-width: 140px !important;
  margin: 0 15px;
}

.Dropdown span{
  position: absolute;
  right: 15px;
  top: 45%;
}

.InputRadio-label{
  color: #9e9e9e;
  font-size: 1rem;
  font-weight: 300;
}

.InputRadio-labelExtraMargin,
.InputCheckbox-labelExtraMargin{
  margin: 12px 0 0 0;
}

.InputRadio-extraMargin{
  margin: 40px 0;
}

.InputCheckbox-label{
  color: #343A41;
  font-size: 1rem;
  font-weight: 400;
  cursor: text;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  padding: 0 25px!important;
}

.MainTitle{
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  font-size: 2rem;
}

.MainTitle--other{
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
}

.Title{
  padding: 40px 0 10px 0;
}

.Title-description{
  color: #5C636B;
  font-style: italic;
}

@media only screen and (max-width: 992px) {
  .Title { padding: 10px 0 10px 0;}
  .Title-description { padding-bottom: 10px;}
}

.Subtitle{
  font-weight: 700;
  position: relative;
  display: inline;
}

.Subtitle--moreMargin{
  margin: 3px 0 5px 0;
}

.Container{
  position: relative;
  min-height: 100%;
  padding: 25px 80px 160px 80px; /* padding-bottom: Footer height + Footer margin */
  z-index: 1;
}

.Container-landing{
  padding: 40px 65px 160px 65px; /* padding-bottom: Footer height + Footer margin */
}

@media only screen and (max-width: 1024px) {
  .Container {padding: 40px 25px 170px 25px!important;}
}

.Box{
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #D2D4D8;
  padding: 25px 25px 20px 25px;
  margin: 15px;
}

.Box-noMargin{
  margin: 15px 0 !important;
}

.Box--firstCol{
  margin: 15px 15px 15px 0;
}

.Box--lastCol{
  margin: 15px 0 15px 15px;
}

@media only screen and (max-width: 992px) {
  .Box,
  .Box--firstCol,
  .Box--lastCol {margin: 15px 0 15px 0 !important;}
}

.Line{
  border-bottom: 1px solid;
  margin: 10px 0 15px 0;
}

.Line--strong{
  border-bottom: 1px solid #D2D4D8;
}

.Line--light{
  border-bottom: 1px solid #E9E9E9;
}

.Paginator{
  margin: 15px auto 0 auto;
}

.Paginator>li>a,
.Paginator>li>span {
  color: #343A41;
  background-color: #fff;
  border: 1px solid #ffffff;
  border-radius: 0 !important;
}

.Paginator>li.active>a{
  background-color: #fff !important;
  color: #24AFB2 !important;
  border: 1px solid #24AFB2 !important;
  font-weight: 600;
}

.Paginator>li:hover>a,
.Paginator>li.active:hover>a{
  background-color: #CEF4F3;
  border: 1px solid #CEF4F3;
}

.Footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 110px;
  padding: 40px 80px;
  margin-top: 50px;
  z-index: 2;
  background-color: #ffffff;
  border-top: 3px solid #D2D4D8;
}

@media only screen and (max-width: 1024px) {
  .Footer {padding: 30px 25px !important;}
}

.Footer-logo{
  display: inline-block;
  height: 40px;
  float: right;
}

.Footer-dbLoFLogo{
  background-image: url('../images/dbLoF-logo.svg');
  width: 154px;
}

.Footer-broadLogo{
  background-image: url('../images/broad-logo.svg');
  width: 158px;
  margin-right: 40px;
}

.Footer-text{
  padding-top: 10px;
}

@media only screen and (max-width: 992px) {
  .Footer-text { text-align: right; padding-top: 30px;}
  .Title-description { padding-bottom: 10px;}
}

.Tooltip-icon{
  color: #959A9E;
  padding-left: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 1rem;
}

.Tooltip-icon:hover{
  color: #24AFB2;
}

.Tab{
  margin: 15px 0 0 0;
}

.Tab-list>a{
  padding: 25px 0 20px 0 !important;
  text-align: center;
  border: 1px solid #D2D4D8 !important;
  border-radius: 3px 3px 0 0;
  border-bottom-color: transparent !important;
  color: #959A9E;
  cursor: pointer !important;
  transition: background-color 0.3s ease;
}

.Tab-list>a .Subtitle{
  transition: color 0.3s ease;
  cursor: pointer;
}

.Tab-list>a:hover .Subtitle{
    color: #24AFB2;
}

.Tab-list.active>a,
.Tab-list.active>a:focus {
    color: #343A41;
    cursor: default;
    background-color: #fff;
    border: 1px solid #D2D4D8;
    border-bottom-color: transparent;
}

.Tab--last>a{
  margin-right: 0!important;
}

.Tab-panes{
  background-color: #ffffff;
  border: 1px solid #D2D4D8;
  border-top-color: transparent;
  border-radius: 0 0 3px 3px;
  padding: 25px 10px;
}

.Button{
  font-weight: 700;
  padding: 7px 20px 6px 20px;
  border: 1px solid;
}

.Button--blue{
  border-color: #24AFB2;
  color: #24AFB2;
  background-color: #ffffff;
}

.Button--orange{
  border-color: #E67E23;
  color: #E67E23;
  background-color: #ffffff;
}

.References{
  font-weight: 300;
  display: inline;
  vertical-align: 20%;
  padding-right: 15px;
}

.References-label{
  font-weight: 400;
  font-size: 1rem;
  display: inline;
  vertical-align: 10%;
  padding: 0 15px 0 5px;
}

.Link{
  color: #24AFB2;
  transition: color 0.3s ease;
}

.Link:hover{
  color: #E67E23;
}

.ImageExample{
  width: 145px;
  float: left;
  display: inline;
  margin-right: 10px;
}

.Col--topMargin{
  margin-top: 30px;
}

.Table{
  margin: 20px 0 0 0;
}

.Table-th{
  font-weight: 600;
  font-size: 0.9rem;
  color: #343A41;
  border-top: 0!important;
  border-bottom: 1px solid #D2D4D8;
  padding-left: 0 !important;
}

.Table-td{
  font-size: 0.9rem;
  color: #343A41;
  border-top: 0!important;
  border-bottom: 1px solid #E9E9E9;
  padding-left: 0 !important;
}

.Table-td a{
  color: #24AFB2;
  font-weight: 600;
}

.Table-td a:hover{
  color: #E67E23;
}

.Charts{
  margin-top: 15px;
}

/* The switch - the box around the slider */
.Switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-bottom: 0!important;
}

.Switch input {
  display:none;
}

.Switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D2D4D8;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}

.Switch-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #E67E23;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.View-expanded,
.View-compact{
  transition: color 0.3s ease;
}

.View-expanded.active,
.View-compact.active{
  color: #E67E23;
}

input:checked + .Switch-slider {
  background-color: #D2D4D8;
}

input:focus + .Switch-slider {
  box-shadow: 0 0 1px #D2D4D8;
}

input:checked + .Switch-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}



/******GENERAL CLASSES*/

.NoMargin{
  margin: 0!important;
}

.NoPadding{
  padding: 0!important;
}

.Float--left{
  float: left!important;
}

.Float--right{
  float: right!important;
}

.Aligned--left{
  text-align: left !important;
}

.Aligned--right{
  text-align: right !important;
}

.Aligned--center{
  text-align: center !important;
}

.Color--blue{
  color: #24AFB2;
}

.Background--blue{
  background-color: #24AFB2;
}

.Color--lightBlue{
  color: #CEF4F3;
}

.Background--lightBlue{
  background-color: #CEF4F3;
}

.Color--orange{
  color: #E67E23;
}

.Background--orange{
  background-color: #E67E23;
}

.Color--lightOrange{
  color: #F4CCB5;
}

.Background--lightOrange{
  background-color: #F4CCB5;
}

.Color--darkGray{
  color: #343A41;
}

.Color--mediumGray{
  color: #5C636B;
}

.Color--green{
  color: #2BB673;
}

.Background--green{
  background-color: #2BB673;
}

.Color--yellow{
  color: #FFDE3F;
}

.Background--yellow{
  background-color: #FFDE3F;
}

.Normal{
  font-weight: 400!important;
}

.Light{
  font-weight: 300 !important;
}

.Bold{
  font-weight: 700 !important
}

.Italic{
  font-style: italic;
}

.Position--absolute{
  position: absolute;
}

.Position--relative{
  position: relative;
}

.Display--inline{
  display: inline;
}

@media (min-width: 768px) and (max-width: 991px) {
    .fsi-row-sm-level {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .fsi-row-md-level {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (min-width: 1200px) {
    .fsi-row-lg-level {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
